################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySite/bin
/MySite/obj
/MySite/obj/Debug
/packages
